.t-s{
    font-weight: 700;
    font-size:80px ;
    font-family:Impact ;
    
}
.d-c p{
    font-size: 35px;
    font-weight: 400;
    font-family:  'Times New Roman';
}
.but{
    border: 1px solid black;
}
.btn:hover {
    color: white;
    background-color: blue;
    border-color:black;
}
.btn{
    border-radius: 0%;
    padding-block: 25px;
    padding-inline:80px ;
}